html, body {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	color: rgba(0, 0, 0, 255);
	background: url(../img/fon.png);
}
/*------------------- HEADER--------------------------- */
.header{
	height: 75px;
	margin-bottom: 10px;
}
.phone{
	padding-left: 130px;
}
.logo{
	margin: auto;
}
.seti {
		margin-top: 45px; 
		padding-left: 60px;
	}
.seti img{
		padding-left: 5px;
		max-width: 25%;
	}
@media (min-width: 992px) {
	.seti {
			margin-top: 40px; 
			padding-left: 15px;
		}
	.seti img{
			padding-left: 5px;
			max-width: 8%;
		}
	}

 




/*------------------- /HEADER--------------------------- */
/*------------------- MENU--------------------------- */
.navbar-nav {
	float: none;
	text-align: center;
	}
	.navbar-nav li {
	float: none;
	display: inline-block;
	}
/*------------------- /MENU--------------------------- */
/*------------------- SLIDER--------------------------- */
/*------------------- /SLIDER--------------------------- */
/*------------------- FOOTER--------------------------- */
/*------------------- /FOOTER--------------------------- */

